<h2>Laddus</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Rating</th>
                  <th>Number of Ratings</th>
                </tr>
              </thead>
              <tbody>
                {{#each laddus}}
                  <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.title}}</td>
                  <td>₹ {{this.price}}</td>
                  <td>{{this.rating}}</td>
                  <td>{{this.rateCount}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

          </div>