<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if successMsg}}{{else}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>



<div class="row">

      <div class="col-md-8 col-md-offset-2">
      <h2>Update Profile</h2>
      <form action="/user/updateProfile" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control" value="{{email}}">
                </input>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="form-group">
                <label for="fName">First Name</label>
                <input type="text" id="fName" name="fName" class="form-control" value="{{fName}}">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label for="lName">Last Name</label>
                <input type="text" id="lName" name="lName" class="form-control" value="{{lName}}">
            </div>
            </div>
            </div>
            <div class="form-group">
                <label for="password">Phone</label>
                <input type="text" id="phone" name="phone" class="form-control" value="{{phone}}">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="submit" class="btn btn-warning btn-lg center" value="Update User">
        </form>
    </div>
    {{#if orders}}
    <div class="col-md-8 col-md-offset-2">
        <h2>My Orders</h2>
        {{#each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{#each this.items }}
                        
                        
                            <li class="list-group-item">
                               
                                {{#if this.isDispatched}}
                                
                              <span class="badge">Dispatched</span>
                              {{else}}
                              <span class="badge">Being Processed</span>
                              {{/if}}
                                {{ this.item.title }} | ₹ {{ this.price }} <br>
                              {{ this.qty }} KG
                    
                            
                            <div class="btn-group pull-right">
                            <button class="btn btn-primary  btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Rate <span class="caret"></span></button> &nbsp;
                            <ul class="dropdown-menu">
                                <li><a href="/rate/{{this.item._id}}/1">Very Bad</a></li>
                                <li><a href="/rate/{{this.item._id}}/2">Bad</a></li>
                                <li><a href="/rate/{{this.item._id}}/3">Alright</a></li>
                                <li><a href="/rate/{{this.item._id}}/4">Good</a></li>
                                <li><a href="/rate/{{this.item._id}}/5">Very Good</a></li>
      
                            </ul>
                            
                          </div>

                        </li>

                        {{/each}}
                    </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total Price: ₹{{ this.cart.totalPrice }}</strong>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}


</div>