<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

{{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-sm-8 col-md-3">
                <div class="thumbnail">
                    <img src="{{ this.imagePath }}" alt="..." class="img-responsive" class="img-thumbnail">
                    <div class="caption">
                        <h4>{{ this.title }}  <span class="badge bg-primary pull-right" style="background-color:orange">{{this.rating}}  <i class="fa fa-star" aria-hidden="true"></i></span></h4>
                        <div class="clearfix">
                            <div class="price pull-left">₹ {{ this.price }} /<small>KG</small></div>
                            <button type="button" class="btn btn-primary pull-right" style = "width: 50%" data-toggle="modal" data-target="#{{this._id}}"> Add to cart </button>
                            <div class="modal fade" id="{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <p class="modal-title pull-left" id="ModalTitle">{{this.title}}</p>
                                    <button type="button pull-right" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  </div>
                          <div class="modal-body">
                              <h4>How do we make it ?</h4>
                              <p><b>Ingredients:</b> {{this.ingredients}}. </p>
                              <br>
                              <p><b>Instructions:</b> {{ this.howTo }}.</p> <br>
                              <p> <b>Quantity in grams:</b> <input type="text" placeholder="Quantity" id="{{this._id}}qty" onchange="priceGenerator('{{this._id}}')" value=1000></input>   
                              <input type="checkbox" id="{{this._id}}dryFruits" onchange="priceGenerator({{this._id}})"> Dry Fruits</input>   
                              <input type="checkbox" id="{{this._id}}sugFree" onchange="priceGenerator({{this._id}})"> Sugar Free </input>   
                              <br> 
                              </p>
                              <hr>
                              <p><b>
                                <span class="pull-left">Total Cost INR: <span id="{{this._id}}totalPriceOut">{{this.price}}</span></span>
                                <span class="pull-right">Per KG INR: <span id="{{this._id}}costPerKG">{{this.price}}</span> </span> 
                              </b>
                              </p></br>
                                
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                          </div>
                         </div>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}

<nav aria-label="Page navigation example" style="margin-left:44%">
  <ul class="pagination pagination-lg">
    <li class="page-item {{#if prevIndex}}{{else}}disabled{{/if}}">
      <a class="page-link" href="/?index={{{prevIndex}}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{#if prevIndex}}
    <li class="page-item"><a class="page-link" href="/?index={{{prevIndex}}}">{{{prevIndex}}}</a></li>
    {{/if}}
    <li class="page-item active">
      <span class="page-link">{{{index}}}
        <span class="sr-only">(current)</span>
      </span>
      </li>
      {{#if nextIndex}}
    <li class="page-item"><a class="page-link" href="/?index={{{nextIndex}}}">{{{nextIndex}}}</a></li>
    {{/if}}
    <li class="page-item {{#if nextIndex}}{{else}}disabled{{/if}}">
      <a class="page-link" href="/?index={{{nextIndex}}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<script>
  function addToCart(id){
     const quantity = document.getElementById(id+"qty").value/1000;
     let url = "/add-to-cart/"+id+"/"+quantity;
     window.location = url;
  }
  // For generating Price and displaying at the runtime
  function priceGenerator(id){
    
    const dryFruitsCheckbox = document.getElementById(id+"dryFruits");
    const sugarFreeCheckbox = document.getElementById(id+"sugFree");
    const quantity = document.getElementById(id+"qty").value/1000;
    let totalCost = document.getElementById(id+"totalPriceOut");
    let costPerKg = document.getElementById(id+"costPerKG").innerHTML;
   
    let price = costPerKg * quantity;
    totalCost.innerHTML = price;
  }
</script>